---
import Layout from '../layouts/Layout.astro'
import Header from '../components/MainSection.astro';
import OurMission from '../components/OurMission.astro';
import CardSection from '../components/CardSection.astro';
import OurFilosofy from '../components/OurFilosofy.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Nimion | Software solutions">
	<Header />
	<main>
		<OurMission />
		<CardSection />
		<OurFilosofy />
		<Contact />
	</main>
</Layout>
