---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
---

<Layout title="Welcome to Astro.">
	<Header />
	<main class="bg-red-200">
		<Hero />
	</main>
</Layout>
