---
import Layout from '../layouts/Layout.astro'
import Header from '../components/MainSection.astro';
import Hero from '../components/Hero.astro'
---

<Layout title="Nimion | Software solutions">
	<Header />
	<main class="bg-red-200">
		<Hero />
	</main>
</Layout>
