---
import Layout from '../layouts/Layout.astro'
import Header from '../components/MainSection.astro';
import OurMission from '../components/OurMission.astro';
import ChooseUs from '../components/ChooseUs.astro';
import CardSection from '../components/CardSection.astro';
import Process from '../components/Process.astro';
import Team from '../components/Team.astro';
import OurFilosofy from '../components/OurFilosofy.astro';
import Faqs from '../components/Faqs.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Nimion | Software solutions">
	<Header />
	<main>
		<OurMission />
		<Process />
		<CardSection />
		<Team />
		<OurFilosofy />
		<Faqs />
		<Contact />
	</main>
	<Footer />
</Layout>