---
import Layout from '../layouts/Layout.astro'
import Header from '../components/MainSection.astro';
import OurMission from '../components/OurMission.astro';
---

<Layout title="Nimion | Software solutions">
	<Header />
	<main class="bg-red-200">
	</main>
	<OurMission />
</Layout>
