---
import Layout from '../layouts/Layout.astro'
import Header from '../components/MainSection.astro';
import CardSection from '../components/CardSection.astro';
import ChooseUs from '../components/ChooseUs.astro';
---

<Layout title="Nimion | Software solutions">
	<Header />
	<main>
		<CardSection />
		<ChooseUs />
	</main>
</Layout>
