---
import Form from './Form';
import ToastSuccess from "./ToastSuccess.astro";
const wpp = "../images/whatsapp.png";
---
<section id="section" class="relative flex justify-center items-center bg-[#141933] pt-16 pb-16">
    <div class="flex flex-wrap justify-center sm:shadow-custom sm:shadow-[#19126C] sm:w-[32rem] lg:w-auto">
        <article class="bg-[#02012C] h-[34rem] w-[80%] sm:w-[32rem] text-white rounded-t-lg lg:rounded-l-lg lg:rounded-tr-none">
            <div class="bg-[url('../images/triback.png')] bg-cover bg-no-repeat bg-bottom h-[100%] w-[100%]">
                <h4 class=" font-bold text-[1.2rem] sm:text-[1.8rem] text-center pt-10">Contactanos por Whatsapp!</h4>
                <p class="text-[#daa24e] text-center mt-10 m-auto text-[.9rem] sm:text-[1rem] max-w-[80%]">Podes comunicarte con nosotros a traves de Whatsapp presionando el boton de abajo!</p>
                <button class="flex justify-center items-center gap-3 m-auto mt-[6rem] text-[1.1rem] sm:text-[1.4rem] font-medium bg-[#7683F9] bg-opacity-100 w-[10rem] sm:w-[14rem] h-[3.2rem] sm:h-[4.2rem] rounded-sm transition-all mb-1 shadow-[#19126C] shadow-custom hover:bg-opacity-80 ">
                    Contactanos
                    <img class="sm:w-[1.6rem] w-[1.2rem] sm:h-[1.6rem] h-[1.2rem]" src={wpp} alt="icon Whatsapp">
                </button>
            </div>
        </article>
        <article class="bg-white h-[34rem] w-[80%] sm:w-[32rem] rounded-b-lg lg:rounded-r-lg lg:rounded-bl-none">
            <h4 class="font-bold text-[1.2rem] sm:text-[1.8rem] text-center pt-10">Cuentanos sobre tu proyecto!</h4>
            <Form client:only="react" />
        </article>
    </div>
    <div id="toast-success-container" class="hidden">
    <ToastSuccess message='Message sent successfully !!' errOrSucc="success" />
    </div>
    <div id="toast-error-container" class="hidden">
    <ToastSuccess message='An error has ocurred, try again later' errOrSucc="error" />
    </div>
</section>

<script>
    import { toastSuccessState, toastErrorState } from '../nimionStore';

    const toastSuccess = document.getElementById('toast-success-container');
    const toastError = document.getElementById('toast-error-container');

    toastSuccessState.subscribe(success => {
        if(success){
            toastSuccess?.setAttribute('class', 'block');
        }else{
            toastSuccess?.setAttribute('class', 'hidden');
        }
    })

    toastErrorState.subscribe(error => {
        if(error){
            toastError?.setAttribute('class', 'block');
        }else{
            toastError?.setAttribute('class', 'hidden');
        }
    })
</script>