---
import Cuestions from './Cuestions';
---
<section class="flex flex-col items-center bg-primary-dark-background text-white min-h-[35rem] pt-16 pb-16">
    <h4 class="text-center text-[2.4rem] font-bold mb-10">Preguntas Frecuentes</h4>
    <Cuestions client:visible />
</section>
