<footer class="flex flex-col items-center bg-primary-dark-background py-16 text-white">
    <article class="flex flex-wrap justify-centers items-center gap-16">
        <div class="flex items-center w-[10rem] mr-16 lg:mr-0 lg:ml-8 mt-10 lg:mt-0">
            <img src="../images/nimion-primary-dark.png" alt="Icon Nimion" class="w-[5.5rem] h-[5.5rem] lg:-ml-14" />
            <h4 class="text-center tracking-[0.2rem] font-normal text-[1.5rem] w-[6rem] ml-5" >NIMION</h4>
        </div>
        <div class="flex flex-col gap-3">
            <div class="flex items-center gap-5">
                <img src="../images/emailf.png" alt="Icon email" class="w-4 h-4 invert">
                <a href="mailto:nimionsoftware@gmail.com" class="text-xs text-gray-400 transition-all hover:text-white hover:scale-105" >nimionsoftware@gmail.com</a>
            </div>
            <div class="flex items-center gap-4">
                <img src="../images/argentina.png" alt="Argentina flag" class="w-4 h-4">
                <a href="Tel:+5493413869246" class="text-xs text-gray-400 transition-all hover:text-white hover:scale-105" >+54 9 341 386 9246</a>
            </div>
            <div class="flex items-center gap-4">
                <img src="../images/uruguay.png" alt="Uruguay flag" class="w-4 h-4">
                <a href="Tel:+598097430011" class="text-xs text-gray-400 transition-all hover:text-white hover:scale-105" >+598 097 430 011</a>
            </div>
        </div>
    </article>
    <div class="flex mt-[6rem] -mb-14">
        <img class="h-4 w-4" src="../images/Copyright.png" alt="Icon Copyright">
        <p class="text-xs font-medium">2023 Nimion. Todos los derechos reservados</p>
    </div>
</footer>