<footer class="flex flex-col items-center bg-primary-dark-background py-16 text-white">
    <div class="flex items-center w-[10rem] mr-16 lg:mr-0 lg:ml-8 mt-10 lg:mt-0">
        <img src="../images/nimion-primary-dark.png" alt="Icon Nimion" class="w-[5.5rem] h-[5.5rem] lg:-ml-14" />
        <h4 class="text-center tracking-[0.2rem] font-normal text-[1.5rem] w-[6rem]" >NIMION</h4>
    </div>
    <div class="flex mt-[6rem] -mb-14">
        <img class="h-4 w-4" src="../images/Copyright.png" alt="Icon Copyright">
        <p class="text-xs font-medium">2023 Nimion. Todes les dereches reservades</p>
    </div>
</footer>