---
import nimionLogo from '/public/images/nimion-primary-dark.png';
---

<header class="flex items-center justify-between bg-transparent 168 h-40">
    <div class="flex justify-start items-center w-[6rem] h-[6rem] ml-25">
        <img id="logo-header" class="hover:rotate-360 duration-[1500ms]" src={nimionLogo} alt="nimion-logo" id="index">
        <h4 id="header-nimion" class="opacity-0" >NIMION</h4>
    </div>

    <ul class="flex w-auto mr-10 list-none justify-around font-montserrat text-sm text-white ">
        <li class="mr-5 hover:text-golden"><a href="#price">Precios</a></li>
        <li class="mr-5 hover:text-golden"><a href="#process">Proceso</a></li>
        <li class="mr-5 hover:text-golden"><a href="#aboutUs">Nosotros</a></li>
        <li class="mr-5 hover:text-golden"><a href="#faq">FAQ's</a></li>
        <li class="mr-5 hover:text-golden"><a href="#contact">Contacto</a></li>
    </ul>
    <a class="justify-center items-center rounded-3xl bg-secondary-light/80 text-white w-10 h-14 fixed bottom-10 right-10 z-50 transition-all hover:scale-110 hidden lg:flex" href="#index">
        <p>🡩</p>
    </a>
</header>

<script>
    const headerNimion = document.getElementById('header-nimion');
    const logoHeader = document.getElementById('logo-header');

    logoHeader?.addEventListener('mouseover', () => {
        headerNimion?.setAttribute('class', 'text-center tracking-[0.2rem] font-normal text-[2rem] w-[6rem] ml-5 animate-headerNimionAppear')
    })
    logoHeader?.addEventListener('mouseout', () => {
        headerNimion?.setAttribute('class', 'text-center tracking-[0.2rem] font-normal text-[2rem] w-[6rem] ml-5 animate-headerNimionDisappear')
    })
</script>