---
import nimionLogo from '/public/images/nimion-primary-dark.png';
---

<header class="flex items-center justify-between bg-transparent 168 h-40">
    <img class="ml-25" src={nimionLogo} alt="nimion-logo">

    <ul class="flex w-auto mr-10 list-none justify-around font-montserrat text-sm text-white ">
        <li class="mr-5"><a href="">Nosotros</a></li>
        <li class="mr-5"><a href="">Contacto</a></li>
        <li class="mr-5"><a href="">Precios</a></li>
        <li class="mr-5"><a href="">Proceso</a></li>
        <li class="mr-5"><a href="">Tecnologias</a></li>
        <li class="mr-5"><a href="">Eleginos</a></li>
    </ul>
</header>