---
import Section from './Section.astro'
---

<Section class="bg-blue-200">
	<div class="w-full bg-blue-100">Hero section asdasdasdasdasd</div>
	<div class="h-10 w-full bg-yellow-100 hover:bg-green-300">chau</div>
</Section>
