---
import Header from "./Header.astro";
---
<section class="bg-[url('../images/background.png')] bg-primary-dark-background bg-contain bg-no-repeat pb-[16rem] text-white text-center">
    <Header />
    <div>
        <div class="mt-16 animate-appearTitle">
            <h1 class="text-4xl font-semibold cursor-pointer">
                Hacemos tu pagina web
            </h1>
            <h2 class="text-5xl font-bold cursor-pointer" >totalmente personalizada</h2>
        </div>
        <div id="underline-title" class="opacity-0"></div>
        <div id="uder-title-section" class="opacity-0">
            <ul class= "flex justify-center flex-wrap gap-4 mt-20">
                <li class="flex flex-col gap-16 mb-10">
                    <span class="text-[.8rem] flex gap-6 w-[24rem] h-[3rem] text-start cursor-pointer">
                        <img class="w-[1.4rem] h-[1.4rem]" src="../images/grupo.png" alt="Icon group" />
                        Atencion personalizada para resultados optimos
                    </span>
                    <span class="text-[.8rem]  flex gap-6 w-[24rem] h-[3rem] text-start cursor-pointer">
                        <img class="w-[1.4rem] h-[1.4rem]" src="../images/internet.png" alt="Icon Bengal" />
                        Servicios de mantenimiento y actualizacion
                    </span>
                </li>
                <li class="flex flex-col gap-16">
                    <span class="text-[.8rem]  flex gap-6 w-[24rem] h-[3rem] text-start cursor-pointer">
                        <img class="w-[1.4rem] h-[1.4rem] rotate-90" src="../images/etiqueta.png" alt="Icon label" />
                        Precios accesibles con planes que se ajustan a tu presupuesto
                    </span>
                    <span class="text-[.8rem]  flex gap-6 w-[24rem] h-[3rem] text-start cursor-pointer">
                        <img class="w-[1.4rem] h-[1.4rem]" src="../images/bengala.png" alt="Icon star" />
                        Diseños altamente intuitivos y modernos
                    </span>
                </li>
            </ul>
            <div class="flex justify-center gap-[5rem] mt-4">
                <a href="#contact" class="bg-secondary-light bg-opacity-70 w-[9rem] h-[2.8rem] rounded-sm flex items-center justify-center transition-all hover:bg-opacity-100">Contactanos</a>
                <a href="#price"  class="bg-secondary-light bg-opacity-70 w-[9rem] h-[2.8rem] rounded-sm flex items-center justify-center transition-all hover:bg-opacity-100 ">Ver precios</a>
            </div>
            <div class="flex justify-center sm:ml-0 sm:justify-center items-center w-full -mb-[9rem] mt-[5rem] sm:mt-[10rem] cursor-pointer">
                <img src="../images/nimion-primary-dark.png" alt="Icon Nimion" class="w-[7rem] h-[7rem]  sm:-ml-[6rem]" />
                <h4 class="text-center tracking-[0.2rem] font-normal text-[2.5rem]" >NIMION</h4>
            </div>
        </div>
    </div>
</section>

<script>
    if (typeof document !== 'undefined') {
        const underline = document.getElementById('underline-title');
        const underTitleSection = document.getElementById('uder-title-section');

        setTimeout(() => {
            underline?.setAttribute('class', 'grid place-self-center bg-secondary-light w-[50%] h-[0.2rem] rounded-3xl m-auto mt-10 transition-all animate-widther')
        }, 1500);
        setTimeout(() => {
            underTitleSection?.setAttribute('class', 'animate-appear')
        }, 2000);
    }

</script>

