---
import Header from "./Header.astro";
---
<section class="bg-[url('../images/background.png')] bg-cover bg-no-repeat pb-[16rem] text-white text-center">
    <Header />
    <div>
        <div class="mt-16 animate-appearTitle">
            <h2 class="text-4xl font-semibold">
                Hacemos tu pagina web
            </h2>
            <h2 class="text-5xl font-bold " >totalmente personalizada</h2>
        </div>
        <div class="grid place-self-center bg-secondary-light w-[50%] h-[0.2rem] rounded-3xl m-auto mt-10 transition-all animate-widther "></div>
        <div class="animate-appear">
            <ul class= "flex justify-center flex-wrap gap-4 mt-20">
                <li class="flex flex-col gap-16">
                    <span class="text-[.8rem] flex gap-6 w-[24rem] h-[3rem] text-start">
                        <img class="w-[1.4rem] h-[1.4rem]" src="../images/grupo.png" alt="Icon group" />
                        Atencion personalizada para una mejor experiencia
                    </span>
                    <span class="text-[.8rem]  flex gap-6 w-[24rem] h-[3rem] text-start">
                        <img class="w-[1.4rem] h-[1.4rem]" src="../images/Star.png" alt="Icon star" />
                        Lorem ipsum dolor sit amet consectetur adipisicing.
                    </span>
                </li>
                <li class="flex flex-col gap-16">
                    <span class="text-[.8rem]  flex gap-6 w-[24rem] h-[3rem] text-start">
                        <img class="w-[1.4rem] h-[1.4rem] rotate-90" src="../images/etiqueta.png" alt="Icon label" />
                        Precios totalmente accesibles y que se acomodan a tu presupuesto
                    </span>
                    <span class="text-[.8rem]  flex gap-6 w-[24rem] h-[3rem] text-start">
                        <img class="w-[1.4rem] h-[1.4rem]" src="../images/bengala.png" alt="Icon Bengal" />
                        Lorem ipsum dolor sit amet consectetur adipisicing
                    </span>
                </li>
            </ul>
            <div class="flex justify-center gap-[5rem] mt-4">
                <button class="bg-secondary-light bg-opacity-70 w-[9rem] h-[2.8rem] rounded-sm transition-all hover:bg-opacity-100 ">Contactanos</button>
                <button class="bg-secondary-light bg-opacity-70 w-[9rem] h-[2.8rem] rounded-sm transition-all hover:bg-opacity-100 ">Ver precios</button>
            </div>
        </div>
    </div>
</section>

