---
import nimionLogo from '/public/images/nimion-primary-dark.png';
---
<section class="px-20 font-montserrat flex flex-col bg-primary-dark-background/95 bg-background-triangle bg-contain bg-no-repeat cursor-default">
    <div class="flex justify-between items-center mt-20">
        <div>
            <h4 class="font-semibold text-xl text-golden">Nuestra Filosofia de Trabajo</h4>

            <h3 class="mt-10 font-bold text-4xl text-white cursor-pointer">Un Producto Excepcional</h3>
            <div class="w-144 mt-5 border-b-2 border-secondary-light"></div>
        </div>
        <img class="w-[4rem] h-[4rem]" src={nimionLogo} alt="nimion-logo">
    </div>

    <div class="flex justify-between items-center w-full py-10">
        <div class="flex flex-col items-center justify-center">
            <h4 class="px-28 text-center font-semibold text-lg text-golden leading-10 cursor-pointer">"Queremos reivindicar el significado de la palabra excelencia"</h4>
            <div class="w-20 mt-3 border-b-2 border-secondary-light"></div>
        </div>
        <div class="w-2/3 p-10  rounded-md bg-white text-justify shadow-filosofy-card shadow-golden">
            <p class="mb-5">
                En <strong>Nimion</strong>, entendemos que en un entorno donde la inmediatez de la entrega a menudo relega la calidad a un segundo plano, es vital marcar la diferencia. Es por eso que nos esforzamos por ser la excepción, ofreciendo <strong>productos excepcionales en tiempos lógicos</strong>.
            </p>
            <p class="mb-5">
                En un paisaje donde la competencia feroz a menudo lleva a compromisos en la calidad y en la atención al detalle, <strong>Nimion</strong> elige abrazar un    enfoque    diferente. Reconocemos la importancia de capitalizar oportunidades rápidamente, pero también creemos que esto no debe ser a     expensas de la excelencia.     Creemos en la idea de que la calidad y el éxito sostenible no son mutuamente excluyentes, sino más bien socios   inextricables en la construcción de un  negocio perdurable.
            </p>
            <p class="mb-5">
                <strong>Nuestra misión se centra en proporcionar productos excepcionales que no solo cumplan con las expectativas, sino que las superen</strong>. Entendemos     que el éxito a  largo plazo depende de la confianza y la satisfacción de nuestros clientes, y esto solo se logra entregando consistentemente    productos que destaquen en  calidad y diseño. Nuestro equipo de profesionales altamente capacitados y apasionados se dedica a trabajar en cada     detalle, a perfeccionar cada aspecto y    a entregar resultados que resistirán la prueba del tiempo.
            </p>
            <p>
                En <strong>Nimion</strong>, no nos conformamos con ser simplemente otra opción en el mercado. Aspiramos a reivindicar la palabra excelencia, en un mundo que la  ha   convertido en una mala palabra.
            </p>
        </div>
    </div>
</section>