---
import yourWebIcon from '/public/images/your-web-icon.png';
import techSupportIcon from '/public/images/tech-support-icon.png';
import budgetIcon from '/public/images/budget-icon.png';

const cardContent = [
    {
        img: yourWebIcon,
        title: 'TU WEB = TU ORGULLO',
        content: 'Usamos lo último en tecnología de desarrollo de software para brindarte un produto a la altura de las necesidades del mercado actual, pero sobre todo, del cual te sientas orgulloso.'
    },
    {
        img: techSupportIcon,
        title: 'PLANES CON SOPORTE TÉCNICO',
        content:'Ofrecemos soporte técnico y consultas en lo que necesites. Para nosotros es imperativo que te sientas acompañado, por eso contamos con servicio de soporte en todos nuestros planes.'
    },
    {
        img: budgetIcon,
        title: 'DISEÑOS ACORDES A TU PRESUPUESTO',
        content: 'Ofrecemos planes ajustados a tu presupuesto para que nadie quede afuera de la experiencia Nimion.'
    }
]
---

<section class="flex flex-col items-center bg-primary-dark-background/95">
    <div class="flex flex-col justify-center items-center w-full h-60 mt-10">
        <h6 class="w-112 text-center font-montserrat font-sm font-semibold leading-10 text-white cursor-default">TU ÉXITO CONQUISTANDO NUEVAS FRONTERAS <span class="font-medium">NUESTRA MISION</span></h6>
        <div class="w-80 mt-7 border-b-2 border-secondary-light">
        </div>
    </div>

    <h4 class="mt-10 mb-10 text-center font-montserrat text-4xl font-bold text-white cursor-default">Navegamos a tu lado hacia la digitalización</h4>
    <p class="w-240 mb-20 text-center text-sm text-logo-gray leading-8 cursor-default">Brindamos una amalgama perfecta de talento y conocimiento para que emprendedores, empresas y profesionales de todas partes del mundo puedan cumplir sus objetivos en una era global en constante cambio.</p>

<div class="flex flex-row justify-around items-center w-4/5 mb-10">
{
    cardContent.map((card) =>
        <div class="w-72 h-112 p-7 flex flex-col justify-around items-center rounded-md bg-primary-dark-background shadow-cards shadow-secondary-light hover:scale-105 duration-500 cursor-pointer">
                <figure>
                <img src={card.img} alt="your web icon">
                </figure>
                <h6 class="font-montserrat text-center text-lg text-white font-bold">{card.title}</h6>
                <div class="md:min-h-[13rem]">
                    <p class="font-montserrat text-sm font-medium text-justify text-logo-gray leading-7 mt-6">
                        {card.content}
                    </p>
                    </div>
        </div>
    )
}
</div>
</section>