---
const { message, errOrSucc, display } = Astro.props;
const successStyle = 'absolute left-1/3 bottom-1/3 flex justify-center items-center w-128 h-40 animate-appear  z-10 bg-green-600 border-2 border-primary-dark-background rounded font-semibold';
const errorStyle = 'absolute left-1/3 bottom-1/3 flex justify-center items-center w-128 h-40 animate-appear absolute z-10 bg-red-400 border-2 border-primary-dark-background rounded font-semibold';
---

<section class=>
        <p class=`${errOrSucc === 'success' ? successStyle : errorStyle}`>{message}</p>
</section>